:root {
    --jmarkd-radius-border: 8px;
    --jmarkd-padding: 12px;
    --jmarkd-size-svg: 15px;
    --jmarkd-size-element: 35px;
}

@media (prefers-color-scheme: light) {
    :root {
        --jmarkd-color-text: #000;
        --jmarkd-color-background: #fff;
        --jmarkd-color-border: rgb(226, 226, 226);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --jmarkd-color-text: #fff;
        --jmarkd-color-background: rgb(20, 20, 20);
        --jmarkd-color-border: rgb(50, 50, 50);
    }
}

.jmarkd {

    &,
    &__toolbar {
        display: flex;
        width: 100%;
    }

    &,
    textarea,
    &__toolbar__element {
        color: var(--jmarkd-color-text);
        background-color: var(--jmarkd-color-background);
        fill: var(--jmarkd-color-text);
    }

    &,
    &__toolbar__element,
    &__preview img {
        border-radius: var(--jmarkd-radius-border);
    }

    &__preview,
    &__textarea {
        font-size: 1.1rem;
        font-family: inherit;
        font-weight: inherit;
        box-sizing: border-box;
        overflow-wrap: break-word;
        padding: 8px;
        width: 100%;
    }
}

.jmarkd {
    box-sizing: border-box;
    height: 100%;
    flex-direction: column;
    border: 1px solid var(--jmarkd-color-border);

    &__toolbar {
        flex-wrap: wrap;
        border-bottom: 1px solid var(--jmarkd-color-border);

        &__element {
            padding: 8px;
            //
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            height: var(--jmarkd-size-element);
            width: var(--jmarkd-size-element);
            font-size: 0.8rem;

            svg {
                height: var(--jmarkd-size-svg);
                width: var(--jmarkd-size-svg);
            }
        }
    }

    &__textarea {
        outline: none;
        border: none;
        resize: none;
        // bottom-right | bottom-left
        border-radius: 0 0 var(--jmarkd-radius-border) var(--jmarkd-radius-border);
    }

    // plugins
    &__preview {
        * {
            max-width: 100%;
        }

        img {
            width: auto;
            height: auto;
            object-fit: contain;
        }

        pre {
            overflow: auto;
        }
    }
}