$border-radius: 8px;
$padding: 12px;
$svg-size: 15px;
$element-size: 35px;

.jmarkd {
    background-color: #fff;
    color: #000;
    border-radius: $border-radius;
    //
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    &__toolbar {
        box-sizing: border-box; 
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        &__element{
            padding: 4px;
            border-radius: $border-radius;
            color: black;
            fill: black;
            //
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            height: $element-size;
            width: $element-size;
            font-size: 0.8rem;
            svg {
                height: $svg-size;
                width: $svg-size;
            }
        }
    }
    &__textarea {
        font-family: inherit;
        font-size: 1.1rem;
        font-weight: inherit;
        box-sizing: border-box;
        outline: none;
        border: none;
        resize: none;
        width: 100%;
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        padding-left: $padding;
        padding-right: $padding;
    }
    // plugins
    &__preview {
        font-size: 1.1rem;
        box-sizing: border-box;
        padding-left: $padding;
        padding-right: $padding;
        width: 100%;
        white-space: pre-wrap;
        overflow-wrap: break-word;
        * {
            max-width: 100%;
            white-space: pre-wrap;
            overflow-wrap: break-word;
        }
        img {
            border-radius: $border-radius;
            width: auto;
            height: auto;
            object-fit: contain;
        }
        h1, h2, h3, h4, h5, h6 {
            margin-block-start: 0.17em;
            margin-block-end: 0.04em;
        }
        pre {
            overflow: auto;
        }
    }
}